{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}{{ 'settings'|trans }}{% endblock %}

{% block section %}
    <h1>{{ 'settings'|trans }}</h1>

    <form action="{{ path('blog_admin_config_modify') }}" method="post">
        <label for="anonymous_comment">{{ 'anonymous_comment'|trans }}</label>
        <select required="required" id="anonymous_comment" name="settings[anonymous_comment]">
            <option selected disabled>{{ 'undefined'|trans }}</option>
            <option value="1">{{ 'yes'|trans }}</option>
            <option value="0">{{ 'no'|trans }}</option>
        </select>
        <br>
        <button type="submit">{{ 'send'|trans }}</button>
    </form>
{% endblock %}