{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}
    <h3>Tags list</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Tag name</th>
                <th class="text-center">Slug</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td class="text-center"><a href="{{ path('blog_admin_tag_show', { 'id': tag.id }) }}">{{ tag.id }}</a></td>
                <td class="text-center">{{ tag.name }}</td>
                <td class="text-center">{{ tag.slug }}</td>
                <td>
                    <ul>
                        <a href="{{ path('blog_admin_tag_show', { 'id': tag.id }) }}" class="btn btn-primary btn-bg">show</a>
                        <a href="{{ path('blog_admin_tag_edit', { 'id': tag.id }) }}" class="btn btn-primary btn-success">edit</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <a href="{{ path('blog_admin_tag_new') }}" class="btn btn-default btn-bg">Create a new tag</a>
    </ul>
{% endblock %}
