{% extends 'AdminBundle::layout.html.twig' %}

{% block section %}
    <h3>Authors list</h3>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Slug</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td class="text-center"><a href="{{ path('blog_admin_author_show', { 'id': author.id }) }}">{{ author.id }}</a></td>
                <td class="text-center">{{ author.name }}</td>
                <td class="text-center">{{ author.slug }}</td>
                <td class="text-center">
                    <ul>
                            <a href="{{ path('blog_admin_author_show', { 'id': author.id }) }}"  class="btn btn-primary
                            btn-lg">show</a>
                            <a href="{{ path('blog_admin_author_edit', { 'id': author.id }) }}"  class="btn btn-success
                            btn-lg">edit</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <a href="{{ path('blog_admin_author_new') }}" class="btn btn-default btn-lg">Create a new author</a>
    </ul>
{% endblock %}
